<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
  <mat-card fxFlex="60">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center" >
      <h1>Is this device a <span  color="primary">hub</span> or a <span color="accent">controller?</span></h1>
      <a [routerLink]="['/waiting']"><button mat-raised-button class="buttoncol" color="primary">Hub</button></a>
      <a [routerLink]="['/names']"><button mat-raised-button class="buttoncol" color="accent">Controller</button></a>
    </mat-card-content>
  </mat-card>
</div>