mat-card {
    text-align: center;
    min-height: 40vh;
}

.row-height {
    min-height: 90vh;
}

mat-card-content {
    min-height: 40vh;
    margin: auto;
}

#category {
    font-size: 5em;
    color: #ff4081;
}

#opponent {
    color: red;
}



