h1 {
    text-align: center
}

mat-card-actions {
    text-align: center;
    color: black;
}

.buttoncol {
    color: black;
}


mat-card {
    text-align: center;
    min-height: 40vh;
}

mat-card-content {
    min-height: 40vh;
    margin: auto;
}

.row-height {
    min-height: 90vh;
}