mat-grid-tile {
    height: 100%;
    width: 100%;
}

mat-card {
    height: 100%;
    width: 100%;
    flex: "flex";
}

.buttoncol {
    background-color: rgb(10, 173, 10);
    color:white;
}

.deleteBut {
    background-color: rgb(255, 68, 68);
    color:white;
    margin-left:10px;
    
}

.player-card {
text-align: center;
}