mat-card-content {
    min-height: 90vh;
    margin: auto;
}

mat-card {
    text-align: center;
    min-height: 90vh;
    min-width: 80vh;
}

.buttoncol {
    color: black;
}

.row-height {
    min-height: 90vh;
}

.buttoncol {
    background-color: rgb(10, 173, 10);
    color:white;
}

.deleteBut {
    background-color: rgb(255, 68, 68);
    color:white;
    margin-left:10px;
    
}
